doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title donica
    body 
        header 
            h1 
                | Donica Ida is an art director and designer working in editorial, 
                | identity, and digital design.
        .works
            .works__header
                span Year
                span Client
                span Info
            ul.works__list
                li.works__work
                    span 2019
                    span Cayas
                    span Identity, website
                li.works__work
                    span 2019
                    span Huffpost Highline
                    span Identity, editorial
                li.works__work
                    span 2018
                    span Airbnb
                    span Vision work
                li.works__work
                    span 2018
                    span Condé Nast Traveler
                    span Vision work
                li.works__work
                    span 2018
                    span BMW
                    span Website
                li.works__work
                    span 2017
                    span Mary Review
                    span Identity, magazine
                li.works__work
                    span 2017
                    span Clara Lionel Foundation
                    span Identity, website
                li.works__work
                    span 2017
                    span Marriott Magazine
                    span Website
                li.works__work
                    span 2016
                    span McKinsey Digital
                    span Website
                li.works__work
                    span 2015
                    span One Hundred Agency
                    span Website
                li.works__work
                    span 2014
                    span North
                    span Identity, app
        .cv 
            span Education
            | MFA Design Entrepreneurship, School of Visual Arts; BFA 
            | Visual Communication Design, University of Washington. 
            span Formerly at
            | HuffPost Highline, Mary Review, Critical Mass, Pentagram. 
            span Select clients
            | Airbnb, Condé Nast Traveler, Google Creative Lab, Planned 
            | Parenthood.
        .about 
            span About 
            | Donica Ida is a Hawaii-born designer who loves beautiful
            | typography and a well-told story. She is the former 
            | Creative Director of HuffPost Highline and Design Director
            | of Mary Review. Donica lives somewhere between Brooklyn and
            | the PNW, and splits her spare time between road trips, 
            a(href="#")  hikes 
            | and ramen. She is currently contracting at Google Creative 
            | Lab while looking for new opportunities*. 
            span Connect 
            a(href="") Email
            | ,
            a(href="") Instagram
            | ,
            a(href="") LinkedIn
            | ,
            a(href="")  WorkingNotWorking
            | .

        .remark *2021 portfolio update coming shortly. Email for latest work. Mahalo.